doctype html
html
  head
    title=articleTitle
    link(rel="stylesheet" type='text/css' href='/css/index.css')
  body
    div.m-warp
      div.m-hearder-wrap
        img(class="m-header-img" src=headerImagePath)
      div.m-content-wrap
        if list
          each item in list
            case item.type 
              when 'p'
                p.m-paragraph-text=item.text     
              when 'title-level-1'
                div.m-title-level-1=item.text
                div.m-division
              when 'title-level-2'
                div.m-title-level-2=item.text


    script(src='/common/js/jquery.min.js')
    script(src='/js/index.js')


















